[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12.2"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
drf-yasg = "*"
sendgrid = "*"
python-dotenv = "*"
ptpython = "*"
django-extensions = "*"
factory-boy = "*"

[dev-packages]
markdown = "*"
ruff = "*"
mypy = "*"
djlint = "*"
pytest = "*"
pytest-django = "*"
pytest-xdist = "*"
django-stubs = {extras = ["compatible-mypy"], version = "*"}
djangorestframework-stubs = {extras = ["compatible-mypy"], version = "*"}
pip = "*"
install = "*"
setuptools = "*"
