# backend
django
djangorestframework
psycopg2-binary
djangorestframework-simplejwt
django-cors-headers
drf-yasg

# utils
python-dotenv # to load env files for mypy vscode extension
ptpython
django-extensions

# Fake data
factory_boy